body {
    margin-left: 200px;
}

.content {
    margin: 40px;
}

.cell-content {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

th, td {
    font-size: 14px;

}

td {
    height: 0;
    min-height: 100px;
}

.card-body, th, td {
    color: grey;
}

.progress {
    min-width: 100;
}